[user]
	email = katsu.aniyan@gmail.com
	name = Katsushige Aniya
[push]
	default = matching
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
	co = checkout
	br = branch
	cm = commit
	df = diff
    dfs = diff --staged
	gr = grep
[color]
	ui = true
